<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign in</h1>
        <p class="text-xs-center">
          <a href="/register">Need an account?</a>
        </p>

        <%
=begin%>
 <%= render 'shared/error_messages' %> 
<%
=end%>
        <%= form_with(url: login_path, scope: :session) do |f| %>
          <fieldset class="form-group">
            <%= f.text_field :email, class: 'form-control form-control-lg', placeholder: 'Email' %>
          </fieldset>
          <fieldset class="form-group">
            <%= f.password_field :password, class: 'form-control form-control-lg', placeholder: 'Password' %>
          </fieldset>
          <%= f.submit 'Sign in', class: 'btn btn-lg btn-primary pull-xs-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>