<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Your Settings</h1>

        <%= render 'shared/error_messages' %>
        <%= form_with(model: @user) do |f| %>
          <fieldset>
            <fieldset class="form-group">
              <%= f.text_field :image, class: 'form-control', placeholder: 'URL of profile picture' %>
            </fieldset>
            <fieldset class="form-group">
              <%= f.text_field :name, class: 'form-control form-control-lg', placeholder: 'Your Name' %>
            </fieldset>
            <fieldset class="form-group">
              <%= f.text_area :bio, class: 'form-control form-control-lg', row: 8, placeholder: 'Short bio about you' %>
            </fieldset>
            <fieldset class="form-group">
              <%= f.email_field :email, class: 'form-control form-control-lg', placeholder: 'Email' %>
            </fieldset>
            <fieldset class="form-group">
              <%= f.password_field :password, class: 'form-control form-control-lg', placeholder: 'New Password' %>
            </fieldset>
            <%= f.submit 'Update Settings', class: 'btn btn-lg btn-primary pull-xs-right' %>
          </fieldset>
        <% end %>
        <hr />
        <%= link_to 'Or click here to logout.', logout_path, class: 'btn btn-outline-danger', data: { "turbo-method": :delete }  %>
      </div>
    </div>
  </div>
</div>