<% if logged_in? %>
  <nav class="navbar navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/">conduit</a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <!-- Add "active" class when you're on that page" -->
          <%= link_to "Home", root_path %>
        </li>
        <li class="nav-item">
          <%= link_to editor_path, class: "nav-link" do %>
            <i class="ion-compose"></i>&nbsp;New Article
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to edit_user_path(curent_user), class: "nav-link" do %>
            <i class="ion-gear-a"></i>&nbsp;Settings
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to curent_user, class: "nav-link" do %>
            <img src="" class="user-pic" />
            Eric Simons
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
<% else %>
  <nav class="navbar navbar-light">
    <div class="container">
      <a class="navbar-brand" href="/">conduit</a>
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign in", "/login", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
<% end %>
